@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
@*@model IEnumerable<HiSpaceListingModels.ListingImages>*@
@*@model List<HiSpaceListingWeb.ViewModel.ListListingImageViewModel>*@


@*Adding image section start*@
@*<div class="modal image fade modal-try" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">*@
		<div class="modal-content">
			<div class="modal-header border-0">
				<h5 class="modal-title" id="imageModalLabel"><i class="fas fa-image"> </i> Image </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>@*@Html.DisplayFor(m => m.ListingId)*@</p>
				<div class="tab-content" id="">
					<div class="tab-pane fade show active" id="image" role="tabpanel" aria-labelledby="image-tab">
						<div class="btn btn-try add-btn" onclick="addImage()"> <i class="fa fa-plus-circle"></i>Image</div>
						@*@if (Model != null && Model.Count() != 0)
						{*@
					<form class=" mt-4 align-items-center md-form" action="/">
						<div class="image-upload">
							<div class="row image-upload__row">
								<div class=" col-md-4 col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control imageName" placeholder="Image Name">
										<label for="input" class="control-label">Image Name</label><i class="bar"></i>
									</div>
								</div>
								<div class=" col-md-4 col-sm-6">
									<div class="form-group">
										<input type="file" class="form-control imageFilePath" accept="image/*">
										<label for="input" class="control-label">Upload Image</label><i class="bar"></i>
									</div>
								</div>
								<div class="col-md-2 col-sm-6 m-b--15 align-self-center">
									<div class="checkbox m-0">
										<label>
											<input type="checkbox" class="imageCheck" />
											<i class="helper"></i> Active
										</label>
									</div>
								</div>
								<div class="col-md-2 col-sm-6">
									<span class="delete-btn" onclick="deleteRowImage(this)"><i class="fas fa-trash-alt btn-icon text-danger"></i></span>
								</div>
							</div>
						</div>

						@*}*@

						@*}*@
						<div class="row width-full justify-content-center">
							<div class="col-sm-6">
								<button type="button" class="btn btn-try btn-block" id="SubmitImage">Submit Images</button>
							</div>
						</div>
					</form>
							
								@*}*@
								@*}*@
							</div>
				</div>
			</div>
		</div>
	@*</div>
</div>*@
@*Adding image section end*@