
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


	@*<div class="modal signup fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">*@
			<div class="modal-content">
				<div class="modal-header border-0">
					<h5 class="modal-title" id="signupModalLabel">HiSpace Signup </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
							@*<form class="form-row mt-4 align-items-center md-form" action="account-profile.html">*@
							@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-row mt-4 align-items-center md-form" }))
							{
								<div class="form-group col-sm-6">
									<input class="form-control" id="CompanyName" name="CompanyName" placeholder="Company Name" type="text" value="">
									@*@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name" })*@
									<label for="input" class="control-label">Company Name*</label><i class="bar"></i>
								</div>
								<div class="form-group col-sm-6">
									<input class="form-control" id="Phone" name="Phone" placeholder="Phone" type="text" value="">
									@*@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "text", placeholder = "Phone" })*@
									<label for="input" class="control-label">Phone*</label><i class="bar"></i>
								</div>
								<div class="form-group col-sm-6">
									<input class="form-control" id="Email" name="Email" placeholder="abc@gmail.com" type="email" value="">
									@*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "abc@gmail.com" })*@
									<label for="input" class="control-label">Email*</label><i class="bar"></i>
								</div>
								<div class="form-group col-sm-6">
									<input class="form-control" id="Password" name="Password" placeholder="password" type="password" value="">
									@*@Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "password" })*@
									<label for="input" class="control-label">Password*</label><i class="bar"></i>
								</div>
								
								<div class="form-group col-sm-12">
									<input class="form-control" id="Address" name="Address" placeholder="No.00, Street" type="text" value="">
									@*@Html.TextBoxFor(m => m.Address, new { @class = "form-control", type = "text", placeholder = "No.00, Street" })*@
									<label for="input" class="control-label">Complete Address</label><i class="bar"></i>
								</div>
								<div class="form-group col-sm-6">
									<input class="form-control" id="Website" name="Website" placeholder="www.abc.com" type="text" value="">
									@*@Html.TextBoxFor(m => m.Website, new { @class = "form-control", type = "text", placeholder = "www.abc.com" })*@
									<label for="input" class="control-label">Web Address</label><i class="bar"></i>
								</div>
								<div class="form-group col-sm-6">
									<input class="form-control" id="Postalcode" name="Postalcode" placeholder="Postal code" type="number" value="">
									@*@Html.TextBoxFor(m => m.Postalcode, new { @class = "form-control", type = "number", placeholder = "Postal code" })*@
									<label for="input" class="control-label">Postal Code</label><i class="bar"></i>
								</div>

								<div class="row width-full">
									<div class="col-sm-6">
										<button type="submit" class="btn btn-sec btn-block">Signup</button>
									</div>
									<div class="col-sm-6 align-self-center">
										<ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
											<li class="mr-1"><a class="modal-link__login hover-signup" data-targeturl="@Url.Action("LoginPartialView","User")" href="javascript:function() { return false; }" data-dismiss="modal"><b>Registered user? <span class="text-sec">Login</span></b></a></li>
										</ul>
									</div>
								</div>
								@*</form>*@
							}
						</div>
					</div>
				</div>
			</div>
		@*</div>
	</div>*@
