@{
	ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome testing done</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		<h1>@ViewBag.UserId<span>test</span></h1>
		<h1>@ViewBag.UserEmail</h1>
		<h1>@ViewBag.UserCompanyName</h1>
	</div>
